[Unit]
Description=My Framework Flask Main Service

[Service]
Type=forking
ExecStart=/git/myframework/run.sh --start
ExecReload=
ExecStop=/git/myframework/run.sh --stop
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target

