{% extends '_mybase.html' %}

{% block body %}
    {{ super()  }}
    <h1>Login</h1>
    <form action="{{ url_for('blue_auth.login') }}" method="post">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        {% if next_page %}
            <input type="hidden" name="next" value="{{next_page}}">
        {% endif %}
        <input type="submit">
        <br>
    </form>
    <p class="text-warning">{{ warning }}</p>

{% endblock body %}
