{% extends '_mybase.html' %}

{% block body %}
    {{ super() }}
    <p>1. <a href="{{url_for('blue_auth.login')}}">Login without next</a> - Login page, without next parameter</p>
    <p>2. <a href="{{url_for('blue_test.vf_login')}}">Login with next</a> - Login and redirect to specified page, with next parameter</p>
    <p>3. <a href="{{url_for('blue_test.vf_freshlogin')}}">Fresh Login</a> - Test Fresh Login (todo)</p>
    <p>4. <a href="{{url_for('blue_test.vf_permission1')}}">Permission1</a> - Verify is current user's permission meet Permission1</p>
    <p>5. <a href="{{url_for('blue_test.vf_permission2')}}">Permission2</a> - Verify is current user's permission meet Permission2</p>
{% endblock body %}
