{% extends '_mybase.html' %}

{% block scripts %}
    <script src="{{ url_for('static',filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-1.12.4.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            namespace = '/test';
            // var socket = io(namespace);
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            // 1. log monitor
            socket.on('mylog', function (msg) {
                $('#log').append('<br>' + $('<div/>').text(msg).html());
            });
            // 2. msg monitor
            socket.on('mymsg', function (msg) {
                $('#msg').append('<br>' + $('<div/>').text(msg).html());
            });
        });
    </script>
{% endblock scripts %}

{% block body %}
    {{ super() }}
    <p>1. log monitor</p>
    <div id="log" style="overflow:auto; height: 250px; width: auto; border: 1px solid #999"></div>
    <br>
    <p>2. msg monitor</p>
    <div id="msg" style="overflow:auto; height: 250px; width: auto; border: 1px solid #999"></div>


{% endblock body %}

