{% extends '_mybase.html' %}

{% block scripts %}
    <script src="{{ url_for('static',filename='js/socket.io.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery-1.12.4.min.js') }}"></script>

    <script type="text/javascript" charset="utf-8">

        function scroll_output(divid) {
            var div = document.getElementById(divid);
            div.scrollTop = div.scrollHeight;
        }

        function clean_output(divid) {
            var div = document.getElementById(divid);
            div.innerHTML = "";
        }


        $(document).ready(function () {
            namespace = '/test';
            // var socket = io(namespace);
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            var socket_logmonitor = io.connect(location.protocol + '//' + document.domain + ':' + 4001 + namespace);

            // 1. log monitor
            // socket.on('mylog', function (msg) {
            socket_logmonitor.on('mylog', function (msg) {
                $('#log').append('<br>' + $('<div/>').text(msg).html());
            });
            // 2. msg monitor
            socket.on('mymsg', function (msg) {
                $('#msg').append('<br>' + $('<div/>').text(msg).html());
            });
            // 3. background monitor
            socket.on('mybackground', function(msg, cb) {
                $('#background').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
                if (cb)
                    cb();
            });

            // 3. auto scroll down
            $('#log').on('DOMNodeInserted', function () {
                scroll_output('log');
            });
            $('#msg').on('DOMNodeInserted', function () {
                scroll_output('msg');
            });
            $('#background').on('DOMNodeInserted', function () {
                scroll_output('background');
            });

            // 4. send sockeio message
            $("#btn1_send_msg").click(function(){
                // var url = 'http://' + document.domain + ':' + 4000 + '/api/cmd/send_msg_hello';
                var url = location.protocol + '//' + document.domain + ':' + location.port + '/api/cmd/send_msg_hello';
                alert(url);
                $.post(url);
            });

        });
    </script>
{% endblock scripts %}

{% block body %}
    {{ super() }}
    <p>1. log monitor</p>
    <div id="log" style="overflow:auto; height: 200px; width: auto; border: 1px solid #999"></div>
    <input value="clean up" type=button onclick="clean_output('log')"> 
    <br>
    <p>2. msg monitor</p>
    <div id="msg" style="overflow:auto; height: 200px; width: auto; border: 1px solid #999"></div>
    <input value="clean up" type=button onclick="clean_output('msg')"> 
    <input type="button" id="btn1_send_msg" value='send msg'>
    <br>
    <p>3. background monitor</p>
    <div id="background" style="overflow:auto; height: 200px; width: auto; border: 1px solid #999"></div>
    <input value="clean up" type=button onclick="clean_output('background')"> 


{% endblock body %}

